exportPattern("^[^\\.]");
import(grid)
import(R.oo)
import(ape)
import(compoisson)
import(ggplot2)
import(R.methodsS3)
importFrom("grDevices", "col2rgb", "colorRamp", "colorRampPalette", "colors", "rgb")
importFrom("graphics", "axis", "hist", "plot", "plot.default")
importFrom("stats", "density", "pgamma", "qgamma", "rbeta", "reorder", "rexp", "rgamma", "rnorm", "runif", "weighted.mean")
importFrom("utils", "capture.output", "page")


